{
  "presets": ["env"],
  "plugins": [
    [
      "istanbul",
      {
        "include": [
          "src"
        ],
        "exclude": [
          "dist",
          "tests"
        ]
      }
    ]
  ]
}