{
  "plugins": [
    [
      "istanbul",
      {
        "include": [
          "dist/**.*"
        ],
        "exclude": [
          "src/**.*",
          "node_modules/**.*",
          "tests/**.*"
        ]
      }
    ]
  ]
}